*, *::before, *::after {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Source Sans 3', sans-serif;
    color: #242635;
    text-align: center;
    text-decoration: none;
  }

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p {
    margin: 0 auto 45px;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
}

header {
    width: 80%;
    max-width: 940px;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
    transform: translate(0, -4px);
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav a {
    box-sizing: content-box;
    padding: 15px;
}

.icon {
    display: none;
  }

.dots {
    width: 42px;
    height: 42px;
  }

.dots:hover {
    cursor: pointer;
    background-color: #eee;
}

a:hover {
    background: #eee;
}

.horses {
    width: 80%;
    max-width: 940px;
    margin: 0 auto 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: center;
}

@media screen and (max-width: 768px) {
    .horses {
        background-image: url(../images/patagonia_m.png);
        height: 512px;
    }
    h1 {
        font-size: 72px;
        letter-spacing: -1.6px;
        margin-top: 100px;
    }
    p {
        width: 70%;
        max-width: 573.5px;
    }
    header {
        height: 102px;
    }
}

@media screen and (max-width: 550px) {
    .horses {
        background-image: url(../images/patagonia_s.png);
        height: 284px;
    }
    h1 {
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 39.6px; /* 110% */
        letter-spacing: -0.8px;
        margin-top: 50px;
    }
    header {
        height: 60px;
    }
    .nav a{
        display: none;
    }
    .icon {
      display: inline;
    }

    .dots.responsive {
        background: #eee;
    }
    /* This doesn´t seem to work.. don´t really get why..? */

    .nav.responsive {
        background: #f6f6f6;
        width: 100%;
        max-width: 440px;
        /* This part won´t go wider than say 300 pixels..? Don´t get why not..? */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0;
        padding-left: 0;
        transform: translate(-60px, 120px);
        /* This transform/translate-thing feels totally wrong but I just don´t get how to get this in place in any better way*/
    }

    .nav.responsive a {
        display: flex;
    }
}

@media screen and (min-width: 769px) {
    .horses {
        background-image: url(../images/patagonia_l.png);
        height:328px;
    }
    h1 {
        font-size: 90px;
        letter-spacing: -2px;
        margin-top: 50px;
    }
    p {
        max-width: 573.5px;
    }
    header {
        height: 162px;
    }
}